asn1crypto==0.22.0
attrs==17.2.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
cryptography==2.0.3
cssselect==1.0.1
enum34==1.1.6
idna==2.6
ipaddress==1.0.18
lxml==4.6.2
parsel==1.2.0
psycopg2==2.7.3
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.2.0
queuelib==1.4.2
requests==2.18.4
Scrapy==1.4.0
service-identity==17.0.0
six==1.10.0
Twisted==15.2.1
w3lib==1.18.0
zope.interface==4.4.2
